footer {
  padding: 3rem min(10vw, 10rem);
  width: 100%;
  background-color: black !important;
  
  * {
    color: rgb(189, 189, 189);
  }
  
  h6, a {
    background-color: black;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

.footer-white {
  @extend footer;
  background-color: white !important;
}