.mainSlider {
  width: 100%;

  &__items {
    display: flex;
    flex-direction: row;
    column-gap: 0.3%;
    margin: 0 0.3%;
    width: 100%;

    & > * {
      background-color: red;
      width: inherit;
      border: none;
      border-radius: 0.3vw;
    }
  }

  &__prevBtn, &__nextBtn {
    width: 4vw;
    border: none;
  }
}