.mainSlider {
  width: 100%;
  padding-top: 1rem;
  background-color: rebeccapurple;

  h1 {
    margin: 0;
    margin-left: 4vw;
  }

  &__inside{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    i {
      opacity: 0;
    }

    &:hover {
      i {
        opacity: 1;
      }
    }

    &__items {
      display: flex;
      transition: 1s ease-in-out;
      width: calc(100% - 2 * 4vw - 2 * 0.26rem);

      & > img {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        border-top-left-radius: 0.4rem 0.3rem;
        border-top-right-radius: 0.4rem 0.3rem;
        border-bottom-left-radius: 0.4rem 0.3rem;
        border-bottom-right-radius: 0.4rem 0.3rem;
        max-width: calc(100% / var(--widthSlide));
        padding: 0 0.25rem;
        object-fit: cover;
      }
    }

    &__prevBtn, &__nextBtn {
      position: absolute;
      width: 4vw;
      height: 100%;
      border: none;
      background-color: rgba(20, 20, 20, 0.5);
      z-index: 10;

      i {
        font-size: 2vw;
        color: rgba(250, 250, 250);
      }

      &:hover {
        background-color: rgba(20, 20, 20, 0.7);

        i {
          font-size: 3vw;
        }
      }
    }

    &__prevBtn {
      border-radius: 0 0.2rem 0.2rem 0;
      left: 0;
    }

    &__nextBtn {
      border-radius: 0.2rem 0 0 0.2rem;
      right: 0;
    }
  }
}