.mainSlider {
  width: 100%;
  padding-top: 1rem;
  
  h1 {
    z-index: 20;
    margin: 0;
    margin-left: 4vw;
    color: white !important;
    font-weight: bold;
  }

  &__inside{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    i {
      opacity: 0;
    }

    &:hover {
      i {
        opacity: 1;
      }
    }

    &__barPage {
      position: absolute;
      right: 4vw;
      top: -10%;
      z-index: 20;

      &__barItem {
        width: 0.7rem;
        height: 2px;
        background-color: rgb(75, 75, 75);

        &.active {
          background-color: rgb(169, 169, 169);
        }
      }
    }

    &__items {
      display: flex;
      width: calc(100% - (2 * 4vw));

      & > div {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        border-top-left-radius: 0.5rem 0.3rem;
        border-top-right-radius: 0.5rem 0.3rem;
        border-bottom-left-radius: 0.5rem 0.3rem;
        border-bottom-right-radius: 0.5rem 0.3rem;
        max-width: calc(100% / var(--widthSlide)) !important;
        padding: 0 0.25rem;
        object-fit: cover;
      }
    }

    &__prevBtn, &__nextBtn {
      position: absolute;
      width: 4vw;
      height: 100%;
      border: none;
      background-color: rgba(20, 20, 20, 0.5);
      z-index: 10;

      i {
        font-size: 1.5vw;
        color: rgba(250, 250, 250);
      }

      &:hover {
        background-color: rgba(20, 20, 20, 0.7);

        i {
          font-size: 2vw;
        }
      }

      &:disabled {
        cursor: pointer;
      }
    }

    &__prevBtn {
      border-radius: 0 0.2rem 0.2rem 0;
      left: 0;
    }

    &__nextBtn {
      border-radius: 0.2rem 0 0 0.2rem;
      right: 0;
    }
  }
}