@use '../../config' as config;

// manageProfileBtn is underneath this class
.userOption-container {
  width: 100%;
  height: 100%;

  h1 {
    font-size: clamp(2rem, 2vw + 1rem, 3rem);
  }

  h5 {
    font-size: clamp(0.93rem, 1.4vw + 0.5rem, 1.25rem);
  }
  
  .userOption {
    .userOption_btn {
      position: relative;
      border: unset;
      color: rgb(150, 150, 150) !important;
      background-color: transparent;
      
      .userOption__containerImgProfile {
        width: clamp(5rem, 10vw + 1rem, 10rem);
        height: clamp(5rem, 10vw + 1rem, 10rem);
        border-radius: 0.4rem;
        position: relative; 
        z-index: 1;

        &__statusAge {
          font-size: clamp(0.9rem, 2vw + 0.2rem, 1.5rem);
          font-weight: 700;
          font-family: 'Poppins', Arial, Helvetica, sans-serif;
          color: config.$redLightNetflix;
          text-shadow: 0.1rem -0.1rem 0 rgb(223, 223, 223), 0.1rem 0.1rem 0 rgb(223, 223, 223), -0.1rem 0.1rem 0 rgb(223, 223, 223), -0.1rem -0.1rem 0 rgb(223, 223, 223);
          width: fit-content;
          position: absolute;
          right: 7%;
          bottom: 0;
          z-index: 5;

          &__shadow {
            content: "";
            position: absolute;
            z-index: -1;
            width: 101.5%;
            height: 30%;
            left: -0.7%;
            top: 39%;
            background-color: rgb(223, 223, 223);
          }
        }
        
        .userOption__imgProfile {
          width: inherit;
          height: inherit;
          border-radius: inherit;
        }      
        
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          border: 0.2rem solid transparent; 
          transition: 250ms;
          z-index: 10;
        }
      }
      
      &:hover {
        h5 {
          color: rgb(223, 223, 223);
        }
        
        .userOption__containerImgProfile {
          &::after {
            border-color: rgb(223, 223, 223) !important;
          }
        }
      }
    }
  }
}

.manageProfileBtn {
  margin-top: clamp(1.2rem, 2vw + 0.7rem, 3rem);
  border: unset;
  background-color: transparent;
  color: rgb(150, 150, 150) ;
  padding: clamp(0.5rem, 0.7vw + 0.2rem, 0.6rem) clamp(1rem, 0.7vw + 1rem, 1.5rem);
  border: 0.1rem solid rgb(150, 150, 150);
  transition: 0s;

  h5 {
    margin: 0;
    transition: 0s;
  }

  &:hover {
    color: rgb(223, 223, 223);
    border-color: rgb(223, 223, 223);
  }
}