.headerSetting {
  width: 100%;
  height: 8.6%;
  border-bottom: 1px solid rgba(230, 230, 230);
  background-color: white !important;

  * {
    color: black !important;
  }

  &__inside {
    width: 75%;

    &__img {
      height: 2.1rem;
    }
  }
}