.headerHome {
  position: fixed;
  top: 0;
  left: 0;
  height: clamp(2rem, 4vw + 1rem, 4rem);
  z-index: 100000;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent);
  padding: 0 4vw;

  &.scrolled {
    background: none;
    background-color: rgb(20, 20, 20);
  }

  &__inside {
    width: 100%;
  }
}