.headerHome__inside__leftSide {
  position: relative;

  * {
    color: rgb(230, 230, 230);
    transition: 0.3s;
  }

  &__dropDown {
    width: 100%;
    display: none !important;
    position: relative;
    cursor: pointer;
    font-size: clamp(0.4rem, 2vw + 0.3rem, 1rem);
    user-select: none;

    &__itemDropDown {
      position: absolute;
      top: 120%;
      left: -3.2rem;
      width: min(100vw, 15rem);
      user-select: none;

      &__btnContainer {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        border: 1px solid rgb(75, 75, 75);
        border-top: 3px solid rgb(230, 230, 230);
        
        button {
          padding: 0.7rem 0;
          background-color: transparent;
          border: none;
          font-size: 1rem;
          color: rgba(243, 243, 243, 0.5) !important;

          &:hover {
            background-color: rgba(41, 41, 41, 0.5);
          }

          &.activeHomeHeader {
            color: white !important;
          }
        }
      }
    }
  }

  &__themeSelected {
    button {
      background-color: transparent;
      border: none;
      color: rgba(169, 169, 169) !important;

      &:hover {
        color: rgb(75, 75, 75) !important;
      }
      
      &.activeHomeHeader {
        color: white !important;
      }
    }
  }
}

@media (max-width: 60rem) {
  .headerHome__inside__leftSide {
    &__themeSelected {
      display: none !important;
    }

    &__dropDown {
      display: flex !important;
    }
  }
}