@use '../../../config' as config;

.headerHome__inside__rightSide {
  * {
    color: white !important;
    transition: 0.3s;
  }

  &__iconSettingActivity {
    position: relative;

    .fa-arrow-right-from-bracket {
      opacity: 0;
    }

    .fa-gear {
      position: absolute;
      left: -7.5%;
      top: -7.5%;
    }

    .fa-clock-rotate-left {
      position: absolute;
      left: 22.5%;
      top: 22.5%;
      text-shadow: -1.5px 0 0 black, 0 1.5px 0 black, 0 -1.5px 0 black, 1.5px 0 0 black;
    }
  }

  button {
    background-color: transparent;
    border: none;
  }

  &__searchDiv {
    &__btn {
      font-size: 1.3rem;
    }

    &__input {
      background-color: rgba(0, 0, 0, 0.9);
      padding: 0.2rem 0.4rem;
      border: 1.5px solid white !important;

      i {
        font-size: 1.2rem;
      }

      input {
        all: unset;
        font-size: 1rem;
        width: 100%;
      }
    }
  }

  &__infoProfileDiv {
    position: relative;
    cursor: pointer;
    user-select: none;

    &__exitProfile {
      p {
        margin: 0;
      }

      &__btn {
        background-color: config.$redLightNetflix !important;
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem; 
      }
    }

    &__dropDown {
      position: absolute;
      top: 60%;
      right: -5%;

      &__spanTriangleDivDropDown {
        padding-right: 2rem;
      }

      p {
        transition: 0.3s;
        text-decoration: none;
        margin: 0;
        color: rgb(230, 230, 230) !important;

        &:hover {
          text-decoration: underline;
        }
      }

      i {
        color: rgb(230, 230, 230) !important;
      }

      &__inside {
        background-color: rgba(0, 0, 0, 0.95);
        width: 13rem;
        cursor: default;
        border: 1px solid rgb(75, 75, 75);

        &__user {
          padding: 0.8rem 0.6rem;
        }

        &__setting {
          padding: 0.8rem 0.8rem;
          padding-top: 0;
        }

        &__signOut {
          width: 100%;
          border-top: 1px solid rgb(75, 75, 75) !important;
          padding: 0.5rem 0;
        }
      }
    }
  }
}

@media (max-width: 60rem) {
  .headerHome__inside__rightSide {
    &__infoProfileDiv {
      &__spanTriangleDivHead {
        opacity: 0;
        display: none !important;
      }

      &__dropDown {
        &__inside {
          &__setting {
            border: 1px solid rgb(75, 75, 75);
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}