@use '../config' as config;

.authScreen {
  background-color: black;
  overflow-x: hidden;

  p {
    font-size: 1.3rem;
    text-align: center;
  }

  header {
    z-index: 100;
  }

  div, main {
    background-color: inherit;
    color: white;
  }

  main {
    padding: 1rem 10rem;
    padding-bottom: 0;
  }
}