@use '../config' as config;
@use 'sass:color';

.inputGetStartedContainer#inputGetStartedContainer {
  background-color: transparent;
  width: 50%;
 
  .getStartedButton {
    background-color: config.$redLightNetflix;
    border: none;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.3rem;
    text-decoration: none;

    &:hover {
      background-color: color.adjust(config.$redLightNetflix, $lightness: -10%);    
    }
  }
}
