@use '../config' as config;

.inputGetStartedContainer#inputGetStartedContainer {
  background-color: transparent;

  input  {
    background-color: rgba(33, 33, 33, 0.5);
    border: 2px solid rgba(169, 169, 169, 0.5);
    color: white;
    width: 25vw;
  }

  .form-floating label {
    background: none;
    color: white;
  }

  .form-floating label::after {
    background-color: transparent !important;
  }

  .form-floating .form-control:focus {
    background-color: rgba(33, 33, 33, 0.7);
    border: 2px solid rgba(169, 169, 169, 0.5);
    outline: 2px solid white;
    outline-offset: 1px;
    box-shadow: none;
  }

  .getStartedButton {
    background-color: config.$redLightNetflix;
    border: none;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.3rem;
    text-decoration: none;

    &:hover {
      background-color: darken(config.$redLightNetflix, 10%);
    }
  }
}

.input-allowed-not {
  display: none;
}

.input-allowed-yes {
  display: block;
  color: config.$redLightNetflix;
}