.outerHomeScreen {
  width: 100%;
  height: 100%;
  overflow: visible;

  &.moreInfoIsOn {
    position: fixed;
  }
}

.homeScreen {
  overflow-x: hidden;
  &__slider {
    margin-bottom: 11rem;
  }
}