.welcomeBanner {
  width: 100vw;
  
  &__backdrop {
    width: 98.8vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    filter: brightness(80%);
  }

  &__info {
    padding: 0 4vw;
    z-index: 10;
    min-height: 41vw;

    p {
      margin: 0;
      font-size: 0.8rem;
      width: 20rem;
      text-align: justify;
    }

    &__logo{
      width: 20rem;
    }

    .buttonPlay, .buttonInfo {
      i {
        font-size: 1.3rem;
      }
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.3rem;
    }

    .buttonPlay {
      background-color: white !important;

      &:hover {
        background-color: rgb(169, 169, 169) !important;
      }
    }

    .buttonInfo {
      background-color: rgba(169, 169, 169, 0.5);
      color: white !important;

      svg {
        color: white !important;
      }

      &:hover {
        background-color: rgba(230, 230, 230, 0.5);
      }
    }
  }
}