.welcomeBanner {
  width: 100vw;

  &__backdropContainer {
    width: calc(100vw - 14.9px);
    height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    &__backdrop {
      width: inherit;
      filter: brightness(80%);
    }
    
    &::after {
      content: '';
      position: absolute;
      height: 4rem;
      width: inherit;
      top: calc(100% - 2rem);
      left: 0;
      background: linear-gradient(to top, rgb(20, 20, 20) 55%, transparent);
    }
  }
  

  &__info {
    margin-top: clamp(2rem, 4vw + 1rem, 4rem);
    padding: 0 4vw;
    padding-right: calc(4vw + 14.9px);
    z-index: 10;
    min-height: 35vw;
    width: min(30rem, 100%);

    p {
      margin: 0;
      font-size: clamp(0.6rem ,1vw + 0.1rem, 0.8rem);
      width: inherit;
      text-align: justify;
    }

    &__logo{
      width: inherit;
    }

    .buttonPlay, .buttonInfo {
      i {
        font-size: 1rem;
      }
      svg {
        width: 1rem;
      }
      font-size: 1rem;
      padding: clamp(0.2rem, 0.1vw + 0.2rem, 0.5rem) clamp(0.5rem, 1vw + 0.2rem, 1rem);
      border: none;
      border-radius: 0.3rem;
    }

    .buttonPlay {
      background-color: white !important;

      &:hover {
        background-color: rgb(169, 169, 169) !important;
      }
    }

    .buttonInfo {
      background-color: rgba(169, 169, 169, 0.5);
      color: white !important;

      svg {
        color: white !important;
      }

      &:hover {
        background-color: rgba(230, 230, 230, 0.5);
      }
    }
  }
}