@use './config' as config;
@use 'sass:color';

.sign-in-button-authScreen {
  text-decoration: none;
  color: white;
  background-color: config.$redLightNetflix;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;

  &:hover {
    background-color: color.adjust(config.$redLightNetflix, $lightness: -10%);    
  }
}