@use './config' as config;
@use 'sass:color';

.sign-in-button-authScreen {
  position: absolute;
  left: 80%;
  top: 4%;
  z-index: 100;

  text-decoration: none;
  color: white;
  background-color: config.$redLightNetflix;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;

  &:hover {
    background-color: color.adjust(config.$redLightNetflix, $lightness: -10%);    
  }
}