@use '../config' as config;

.deleteProfileBtn {
  width: 100%;
  padding: 0.7rem 0;
  border: 2px solid rgb(190, 190, 190);
  background-color: white;
  border-radius: 0.3rem;
  transition: 250ms;
  
  h5, path {
    color: config.$redLightNetflix !important;
  }

  &:hover {
    background-color: rgb(230, 230, 230);
  }
}